{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">

    {# head #}
    {% block head %}
        <head>
            <title> Perry CC </title>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale = 1.0">

            <title>Crowd Task Interface</title>

            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

            <!-- JS for SocketIO -->
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
            <!-- JQuery -->
            <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

            <script
                   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                   crossorigin="anonymous"></script>
            <!--  Google fonts-->
            <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet" >

            <!-- CSS for chat box -->
            <link rel="stylesheet" href="{{url_for('static', filename='css/chat-box.css')}}" >

            <!-- General CSS -->
            <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" >

            <audio autoplay>
             <source src="{{url_for('static', filename='sounds/tone.mp3')}}" type="audio/mpeg">
              <source src="{{url_for('static', filename='sounds/tone.ogg')}}" type="audio/ogg">
            </audio>

        </head>
    {% endblock head %}

    {# body #}
    {% block body %}
    <body>
    <div class="wrapper">
        {# navigation bar #}
        <!-- {% block navbar %}
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <a class="navbar navbar-text" href="#home_page">
                        <h3 class="title"> Perry Crowd Control </h3>
                    </a>
                </div>
            </nav>
        {% endblock navbar %} -->

        {# flash messaging #}
        {% for message in get_flashed_messages() %}
                <div class=" container alert alert-info">
                    <button type="button" class="close" data-dismiss="alert"></button>
                    {{ message }}
                </div>
        {% endfor %}

        {# empty block for custom content #}
        {% block content %}

        {% endblock content %}

        {# footer #}
        {% block footer %}
            <footer>
                <div class="container ftr">
                    <hr>
                    <p class="text-center small">Perry Crowd Control &copy;  |  2018</p>
                </div>
            </footer>
        {% endblock footer %}

    </div>

    <!-- Bootstrap javascript -->
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!--  To use Watson Speech to Text API-->
    <script src="{{url_for('static', filename='js/watson-speech.min.js')}}"></script>

    <!-- window.fetch pollyfill for IE/Edge & Older Chrome/FireFox -->
    <script src="{{url_for('static', filename='js/fetch.js')}}"></script>


    <script type="text/javascript" src="{{url_for('static', filename='js/timer.js')}}"></script>

    <!--  For Rendering interface -->
    <script type="text/javascript" src="{{url_for('static', filename='js/chat-box.js')}}"></script>



    </body>
    {% endblock body %}
</html>
